<form class="form-signin" role="form" action="/session/create">
    <h2 class="form-signin-heading">登陆</h2>
    <input type="text" class="form-control" placeholder="邮箱地址" autofocus="" name="login">
    <input type="password" class="form-control" placeholder="密码" required="" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
</form>
