<div class="row">
    <div class="span3">
        <h5>在线用户</h5>
        <ul class="list-group" id="waiting_list">
        </ul>
        <input type="text" id="enemyName" placeholder="对手用户名" style="display: none">
        <button type="button" class="btn btn-danger" id="battle">开始对战</button>
        <br>
        <!--信息版5 - 显示结构化信息-->
        <div id="info_board_5" style="display: none"></div>
    </div>
    <div class="span3">
        <div id="my_battle_info"></div>
        <!--信息版1a - 战斗时显示我的动态参数-->
        <div id="info_board_1a" hidden="hidden"></div>
        <!--信息版1b - 战斗时显示我的静态参数-->
        <div id="info_board_1b"></div>
    </div>
    <div class="span3">
        <h5 hidden="hidden" id="zk">战况</h5>
        <label class="label label-inverse" id="clear_board_0" style="display: none">CTRL + L</label>
        <br>
        <!--信息版0 - 显示战斗对白<br>-->
        <textarea class="form-control" id="info_board_0" placeholder="暂无内容"
                  style="height: 400px;width: 100%;display: none"></textarea>
        <br>
    </div>
    <div class="span3">
        <div id="enemy_battle_info"></div>
        <!--信息版2a - 战斗时显示敌人的动态参数-->
        <div id="info_board_2a" hidden="hidden"></div>
        <!--信息版2b - 战斗时显示敌人的静态参数-->
        <div id="info_board_2b"></div>
    </div>
</div>
