<!DOCTYPE html>
<html>
<head>
    <title>口袋机器人</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrapScaffold.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" href="styles/jquery.rokkocode.css">
    <!--STYLES END-->
</head>
<body class="container">
<% if (req.session.user_detail) { %>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand nav" href="/">Pocket Robots War</a>
        <ul class="nav">
            <li><a href="/user_info">Hi, <%= req.session.user_detail.nickname %></a></li>
            <li><a href="/">首页</a></li>
            <li><a href="/shop">商店</a></li>
            <li><a href="/battle_field">战斗</a></li>
        </ul>
        <span><a href="/session/destroy" class="btn btn-info pull-right">登出</a></span>
    </div>
</div>
<% } %>
<div class="jumbotron">
    <div><%- body %></div>
</div>
<!--SCRIPTS-->
<script src="js/dependencies/sails.io.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery.rokkocode.0.23.js"></script>
<script src="js/shop.js"></script>
<!--SCRIPTS END-->
</body>
</html>
