<div class="row">
    <div class="col-md-4">
        <input type="text" id="myLogin" style="display: none" value="<%= req.session.user_detail.nickname %>"><br>
        <button type="button" id="getMyInfo">查看我的卡牌</button>
        <br><button type="button" id="mainWeapon">查看主武器卡牌</button>
        <br><button type="button" id="assistWeapon">查看辅武器卡牌</button>
        <br><button type="button" id="body">查看机体卡牌</button>
        <br><button type="button" id="attachment">查看附件卡牌</button>
        <br><button type="button" id="as">查看主动技能卡牌</button>
        <br><button type="button" id="ps">查看被动技能卡牌</button>
        <div>当前金币 <span id="gold">0</span> G</div>
        <div id="card_info"></div>
    </div>
    <div id="myCards" class="col-md-4" >
        == 已有卡牌 == （单击装备/卸载 高亮为已装备）
    </div>
    <div id="shopCards" class="col-md-4" >
        == 商店卡牌 == （单击描述查看详情/单击价格购买）
    </div>
</div>
