<form class="form-signin" role="form" action="/user/create">
    <h2 class="form-signin-heading">注册</h2>
    <input type="text" class="form-control" placeholder="邮箱地址" autofocus="" name="login">
    <input type="text" class="form-control" placeholder="昵称" autofocus="" name="nickname">
    <input type="password" class="form-control" placeholder="密码" required="" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    <a href="/login">已有帐号</a>
</form>
