<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="/img/ruby.png" alt=""
                                 class="center-block img-circle img-thumbnail img-responsive">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h2><%= user.nickname %></h2>

                            <div>邮箱: <i><%= user.login %></i></div>
                            <div>钻石: 5</div>
                            <div>金币: 250</div>
                            <div>技能: 250</div>
                            <div>战史:
                                <span class="label label-info tags">64/胜</span>
                                <span class="label label-info tags">36/负</span>
                                <span class="label label-warning tags">3/碾压对手</span>
                                <span class="label label-warning tags">1/史诗胜利</span>
                                <span class="label label-info tags">5/落荒而逃</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
